<template name="home">
    <h3>Featured Products</h3>
    <div class="list-group">
        {{#each featured}}
            <div class="row product-row">
                <div class="col-md-2"><img>
                    <img class="full" src="{{image}}">
                </div>
                <div class="col-md-10">
                    <h4>{{name}}</h4>
                    <p>Average Rating:
                        <img class="rating" src="../img/{{getAvg reviews}}star.png">
                        Number of Reviews: {{getReviewsTotal reviews.length}}
                    </p>
                    <p>{{truncateText description 200}}</p>
                    <a href="{{pathFor 'product'}}" class="btn btn-default">Read Reviews</a>
                    <a href="{{pathFor 'new_review'}}" class="btn btn-primary">Add Review</a>
                </div>
            </div>
        {{else}}
            <p>No Products</p>
        {{/each}}
    </div>

</template>
